name: Security Pipeline

on:
  push:
  pull_request:

jobs:
  security-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # --------------------------
      # SECRET SCAN (GITLEAKS)
      # --------------------------
      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2

      # --------------------------
      # DEPENDENCY SCAN (pip-audit)
      # --------------------------
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install pip-audit
        run: pip install pip-audit

      - name: Run Dependency Scan
        run: pip-audit -r requirements.txt